@model QuoteApi.Models.SingleQuote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SingleQuote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Self)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Self)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SingleQuoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
